<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fredhopper_indexer>
            <general>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <endpoint_name>ap2</endpoint_name>
                <product_prefix>p_</product_prefix>
                <variant_prefix>v_</variant_prefix>
                <debug_logging>0</debug_logging>
            </general>
            <sanity_check>
                <delete_products>10</delete_products>
            </sanity_check>
            <cron>
                <incremental_schedule>*/15 * * * *</incremental_schedule>
                <full_schedule>20 */6 * * *</full_schedule>
                <suggest_schedule>40 */12 * * *</suggest_schedule>
            </cron>
        </fredhopper_indexer>
    </default>
</config>
