<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="fredhopper" xsi:type="string">Aligent\FredhopperIndexer\Model\Indexer\DataHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="fredhopper" xsi:type="string">Aligent\FredhopperIndexer\Model\Indexer\StructureHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="fredhopper" xsi:type="string">Aligent\FredhopperIndexer\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="fredhopper" xsi:type="string">Aligent\FredhopperIndexer\Model\Search\DummySearchAdapter</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="fredhopper" xsi:type="string">fredhopper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="fredhopper" xsi:type="string">Fredhopper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="fredhopper" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Aligent\FredhopperIndexer\Model\Indexer\Data\ImageFieldsProvider">
        <arguments>
            <argument name="imageAttributeConfig" xsi:type="array">
                <!-- Default image types for thumbnail and listing page -->
                <item name="_thumburl" xsi:type="array">
                    <item name="attribute_code" xsi:type="string">thumbnail</item>
                    <item name="display_area" xsi:type="string">category_page_list</item>
                </item>
                <item name="_imageurl" xsi:type="array">
                    <item name="attribute_code" xsi:type="string">image</item>
                    <item name="display_area" xsi:type="string">product_page_main_image</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="additionalFieldsProviderForFredhopper" type="Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProvider">
        <arguments>
            <argument name="fieldsProviders" xsi:type="array">
                <item name="categories" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\CategoryFieldsProvider</item>
                <item name="prices" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\PriceFieldsProvider</item>
                <item name="stock" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\StockFieldsProvider</item>
                <item name="images" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\ImageFieldsProvider</item>
                <item name="age" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\AgeFieldsProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aligent\FredhopperIndexer\Model\Indexer\Data\FredhopperDataProvider">
        <arguments>
            <argument name="additionalFieldsProvider" xsi:type="object">additionalFieldsProviderForFredhopper</argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext\Action\DataProvider">
        <plugin name="setProductTypeForProcessing" type="Aligent\FredhopperIndexer\Plugin\Model\Indexer\Fulltext\Action\DataProviderPlugin"/>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext\Action\Full">
        <plugin sortOrder="1" name="aligentFredhopperIndexerFull"
                type="Aligent\FredhopperIndexer\Plugin\Model\Indexer\Fulltext\Action\FullPlugin"/>
    </type>

    <virtualType name="FredhopperCategoryContext" type="Magento\Catalog\Model\Layer\Category\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\ItemCollectionProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="FredhopperSearchContext" type="Magento\Catalog\Model\Layer\Search\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\ItemCollectionProvider</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Layer\Category">
        <arguments>
            <argument name="context" xsi:type="object">FredhopperCategoryContext</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\Search">
        <arguments>
            <argument name="context" xsi:type="object">FredhopperSearchContext</argument>
        </arguments>
    </type>

    <virtualType name="FredhopperExportLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/fredhopper_export.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="FredhopperExportLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">FredhopperExport</argument>
            <argument name="handlers" xsi:type="array">
                <item name="fredhopper" xsi:type="object">FredhopperExportLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aligent\FredhopperIndexer\Model\Export\AbstractProductExporter">
        <arguments>
            <argument name="logger" xsi:type="object">FredhopperExportLogger</argument>
        </arguments>
    </type>
    <type name="Aligent\FredhopperIndexer\Model\Export\SuggestExporter">
        <arguments>
            <argument name="logger" xsi:type="object">FredhopperExportLogger</argument>
        </arguments>
    </type>
    <type name="Aligent\FredhopperIndexer\Model\Export\ZipFile">
        <arguments>
            <argument name="logger" xsi:type="object">FredhopperExportLogger</argument>
        </arguments>
    </type>
    <type name="Aligent\FredhopperIndexer\Model\Export\Upload\AbstractUpload">
        <arguments>
            <argument name="logger" xsi:type="object">FredhopperExportLogger</argument>
        </arguments>
    </type>

    <!-- Cron configuration -->
    <virtualType name="FredhopperIncrementalProductCron" type="Aligent\FredhopperIndexer\Cron\FredhopperExport">
        <arguments>
            <argument name="fredhopperExporter" xsi:type="object">Aligent\FredhopperIndexer\Model\Export\IncrementalExporter</argument>
        </arguments>
    </virtualType>
    <virtualType name="FredhopperFullProductCron" type="Aligent\FredhopperIndexer\Cron\FredhopperExport">
        <arguments>
            <argument name="fredhopperExporter" xsi:type="object">Aligent\FredhopperIndexer\Model\Export\FullExporter</argument>
        </arguments>
    </virtualType>
    <virtualType name="FredhopperSuggestCron" type="Aligent\FredhopperIndexer\Cron\FredhopperExport">
        <arguments>
            <argument name="fredhopperExporter" xsi:type="object">Aligent\FredhopperIndexer\Model\Export\SuggestExporter</argument>
        </arguments>
    </virtualType>

</config>
