<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Aligent\FredhopperIndexer\Model\Indexer\DataHandler">
        <arguments>
            <argument name="indexStructure" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\StructureHandler</argument>
        </arguments>
    </type>

    <type name="Aligent\FredhopperIndexer\Model\Indexer\ProductIndexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">Magento\Store\Model\StoreDimensionProvider</argument>
        </arguments>
    </type>

    <virtualType name="additionalFieldsProviderForFredhopper" type="Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProvider">
        <arguments>
            <argument name="fieldsProviders" xsi:type="array">
                <item name="categories" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\CategoryFieldsProvider</item>
                <item name="images" xsi:type="object">Aligent\FredhopperIndexer\Model\Indexer\Data\ImageFieldsProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aligent\FredhopperIndexer\Model\Indexer\Data\FredhopperDataProvider">
        <arguments>
            <argument name="additionalFieldsProvider" xsi:type="object">additionalFieldsProviderForFredhopper</argument>
        </arguments>
    </type>

    <type name="Aligent\FredhopperIndexer\Model\Export\SuggestExporter">
        <arguments>
            <argument name="fileGenerators" xsi:type="array">
                <item name="blacklist" xsi:type="object">Aligent\FredhopperIndexer\Model\Export\Data\BlacklistFileGenerator</item>
                <item name="whitelist" xsi:type="object">Aligent\FredhopperIndexer\Model\Export\Data\WhitelistFileGenerator</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="FredhopperExportLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/fredhopper_export.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="FredhopperExportLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">FredhopperExport</argument>
            <argument name="handlers" xsi:type="array">
                <item name="fredhopper" xsi:type="object">FredhopperExportLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
</config>
