<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fredhopper_indexer" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Fredhopper Indexer</label>
            <tab>aligent</tab>
            <resource>Aligent_FredhopperIndexer::manage</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fredhopper Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fredhopper Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="environment_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fredhopper Environment Name</label>
                </field>
                <field id="endpoint_name" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fredhopper Endpoint Name</label>
                </field>
                <field id="product_prefix" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Prefix</label>
                </field>
                <field id="variant_prefix" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Variant Prefix</label>
                </field><field id="use_site_variant" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Site Variant</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="site_variant" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site Variant</label>
                    <depends>
                        <field id="fredhopper_indexer/general/use_site_variant">1</field>
                    </depends>
                </field>
                <field id="default_store" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Store</label>
                    <comment>Store to be used for attributes that are not site-specific</comment>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                </field>
                <field id="debug_logging" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Logging</label>
                    <comment>Enable debug logging for export process</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product_config" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Product Configuration</label>
                <field id="use_variant_products" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Variant Products?</label>
                    <comment>If enabled, variant products will be sent to Fredhopper</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_attributes" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product-Level Attributes</label>
                    <comment>Attributes sent to Fredhopper at product level</comment>
                    <frontend_model>Aligent\FredhopperIndexer\Block\Adminhtml\Form\Field\AttributeConfig</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="variant_attributes" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Variant-Level Attributes</label>
                    <comment>Attributes sent to Fredhopper at product level</comment>
                    <frontend_model>Aligent\FredhopperIndexer\Block\Adminhtml\Form\Field\AttributeConfig</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="pricing_config" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pricing Attributes</label>
                <field id="use_customer_group" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Group Pricing</label>
                    <comment>Send separate price attributes per customer group</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_site_variant" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Site Variant Pricing?</label>
                    <comment>Send separate price attributes per site variant</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="fredhopper_indexer/general/use_site_variant">1</field>
                    </depends>
                </field>
                <field id="use_range" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Range Pricing</label>
                    <comment>Send min/max price attributes at product level (also takes customer group and site variant settings into account)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="stock_config" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock Attributes</label>
                <field id="send_stock_status" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Stock Status Indicator</label>
                    <comment>Send boolean indicator for whether the product is in stock or not</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_stock_count" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Stock Count</label>
                    <comment>Send stock position of products</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_site_variant" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Site Variant Stock?</label>
                    <comment>Send separate stock attributes per site variant</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="fredhopper_indexer/general/use_site_variant">1</field>
                    </depends>
                </field>
            </group>
            <group id="age_config" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Age Attributes</label>
                <field id="send_new_indicator" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send New Product Indicator</label>
                    <comment>Send boolean indicator for whether the product is new or not</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_days_online" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Days Online</label>
                    <comment>Send the age of the product in days</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_site_variant" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Site Variant Attributes?</label>
                    <comment>Send separate attributes per site variant</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="fredhopper_indexer/general/use_site_variant">1</field>
                    </depends>
                </field>
            </group>
            <group id="cron" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron Schedules</label>
                <field id="incremental_schedule" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Incremental Update</label>
                    <comment>Cron expression for incremental product update schedule</comment>
                </field>
                <field id="full_schedule" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Full Update</label>
                    <comment>Cron expression for full product update schedule</comment>
                </field>
                <field id="suggest_schedule" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Suggest Update</label>
                    <comment>Cron expression for suggest update schedule</comment>
                </field>
            </group>
        </section>
    </system>
</config>
